@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-5">Welcome to the IRON THRONE</h1>
    <div class="container">
        <img src="~/img/iron-man-throne.webp" alt="Iron Man Throne" class=" text-lg-center" style="height:70vh; width:45vw;" />
    </div>
</div>

